:root {
  --primary-color: rgb(100, 179, 97);
  --primary-bg-color: rgb(243, 243, 243);
  --primary-text-color: rgb(32, 32, 32);
  --btn-text-color: rgb(255, 255, 255);
  --btn-bg-color: rgb(100, 179, 97);
  --mute-color: rgb(133, 133, 133);
  --form-bg-color: rgb(230, 228, 228);
  --btn-hover-bg-color: rgb(62, 112, 60);
  --card-bg-color: rgb(230, 227, 227);
}

:root[data-theme="dark"] {
  --primary-color: rgb(57, 141, 54);
  --primary-bg-color: rgb(56, 56, 56);
  --primary-text-color: rgb(233, 233, 233);
  --btn-text-color: rgb(255, 255, 255);
  --btn-bg-color: rgb(110, 177, 106);
  --mute-color: rgb(139, 139, 139);
  --form-bg-color: rgb(139, 138, 138);
  --btn-hover-bg-color: rgb(106, 170, 104);
  --card-bg-color: rgb(102, 102, 102);
}
